.box{
    background-color: aqua;
    color: black;
    text-align: center;
    font-size: 2em;
    display: none;
}
@media(max-width:300px){
    #box1{
        display: block;
    }
}
@media(min-width:300px) and (max-width:500px){
    #box2{
        display: block;
        background-color: brown;
    }
}
@media(min-width:500px) and (max-width:800px){
    #box3{
        display: block;
        background-color:orange;
    }
}
@media(min-width:800px) and (max-width:8000px){
    #box4{
        display: block;
        background-color:mediumorchid;
    }
}

