.box{
    width: 150px;
    height: 150px;
    border: 2px solid black;
}
#box1{
    background-color: chartreuse;
    position: relative;
    top: 14px;
    z-index: 55px;
}
#box2{
    /* visibility: hidden; */
    background-color: rgb(201, 58, 15);
    position: relative;
    top: 14px;
    z-index: 135px;
}
#box3{
    background-color: rgb(19, 104, 231);
}
#box4{
    background-color: rgb(190, 8, 181);
}