
body{
    background-color: black;
}
#box{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 200px;
    height: 200px;
    font-size: 25px;
    transition-property: background-color;
    transition-duration: 0.5s;
}
#box:hover{
    background-color:rgb(197, 34, 197);

}